<?xml version="1.0" encoding="UTF-8"?>
<suite name="My suite" parallel="Methods" thread-count="2">
    <test name="Regression">
        <classes>
            <parameter name="Browser" value="Chrome"></parameter>
            <parameter name="Environment" value="QA"></parameter>
            <class name="com.open.hotel.tests.TestNGClass1"/>
        </classes>
    </test>

</suite>